arabic-reshaper==3.0.0
cryptography==42.0.5
dnspython==1.16.0
eventlet==0.30.2
matplotlib==3.8.4
pbr==5.11.1
psycopg2-binary==2.9.9
psutil==5.9.8
python-bidi==0.6.11
python-dotenv==1.0.1
reportlab==4.4.5
ryu==4.34
setuptools==67.8.0
webob==1.8.9
wheel==0.45.1
